aiocache
aiohttp
arxiv
asyncio
beautifulsoup4
duckduckgo-search
ipykernel
langchain-community
langchain-core
langchain-openai
langgraph
nltk
pydantic
pypdf
pytest
python-dotenv
redis
requests
selenium
yollama>=2.1.0
ypostgres_lib
